/* Styles for categories */
.categories-card {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	padding: 4rem;
}

.category-card {
	max-width: 30rem;
	box-shadow: 2px 2px 8px;
	transition: all 0.3s;
}
.category-card:hover {
	max-width: 30rem;
	box-shadow: 2px 2px 8px;
	transform: translateY(-0.5rem);
}

.category-card img {
	width: 100%;
}
